<div class="container mt-5">
  {{!-- <div class="shortener d-flex flex-column justify-content-center border border-1"> --}}
    <div class="shortener d-flex flex-column align-items-center border border-1">
      <h1 style="font-family: 'Kanit', sans-serif;">URL Shortener</h1>
      {{!-- <div class="d-flex justify-content-center"> --}}
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
          class="img-thumbnail my-5" alt="..." style="width:200px">
        {{!--
      </div> --}}
      <div class="col-8 mt-5">
        <input class="form-control form-control-lg" type="text" placeholder="Input URL here"
          aria-label=".form-control-lg example">
      </div>
      {{!-- </div> --}}
      <button type="button"  class="btn btn-outline-primary mt-3 col-4" >Shorten</button>
      {{!-- <button type="button"  id="short-btn">Shorten</button> --}}
    </div>
  </div>